<!DOCTYPE html>
<html>
<head>
  <title>Locatop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>




	<%= render "layouts/navbar" %>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<%= render "layouts/latbar" %>
			</div>
			
			
		</div> <!-- row -->
	</div> <!-- container -->

	<%= image_tag 'logo2.png', class: 'logo' %>

	<br>

	

<%= yield %>

	
	<%= image_tag 'footer.png', class: 'rodape' %>
	

</body>
</html>
